@{
    ViewData["Title"] = "Reports";
}
<h2>@ViewData["Title"]</h2>

<ul class="list-group">
  <li class="list-group-item">
    <a asp-action="TrialBalance">Trial Balance</a>
  </li>
  <li class="list-group-item">
    <a asp-action="BalanceSheet">Balance Sheet</a>
  </li>
  <li class="list-group-item">
    <a asp-action="ProfitLoss">Profit &amp; Loss</a>
  </li>
  <li class="list-group-item">
    <a asp-action="CashFlow">Cash Flow (coming soon…)</a>
  </li>
</ul>